### FEATURE OWNERSHIPS ###

/selfscape_insight/features/sample.py @duggann4
/selfscape_insight/features/facebook_act.py @Peter-Hafner
/selfscape_insight/features/topics.py @jacobs81
/selfscape_insight/features/NotoSans_Local.ttf @jacobs81
/selfscape_insight/features/ip_loc.py @TREVORLE123
/selfscape_insight/features/GeoLite2-City.mmdb @TREVORLE123
/selfscape_insight/features/filesize_sunburst.py @duggann4
/selfscape_insight/features/filesize_sankey.py @duggann4
/selfscape_insight/features/notifs.py @duggann4

### OTHER CODEBASE OWNERSHIPS ###
/selfscape_insight/core/log_aud.py @duggann4

### DOCS OWNERSHIPS ###
/docs/docify.py @duggann4
